<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Oops. There was an error - The Daily Beast</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width = device-width, initial-scale = 1, minimum-scale = 1, maximum-scale = 1, user-scalable = no"/>
    <meta name="content-type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="A smart, speedy take on the news from around the world.">
    <meta name="keywords" content="The Daily Beast, Tina Brown, news, news aggregation, breaking news, opinion, commentary, international, entertainment, politics, business, news video"/>
    <meta name="news_keywords" content="The Daily Beast, Tina Brown, news, news aggregation, breaking news, opinion, commentary, international, entertainment, politics"/>
    <meta name="author" content="The Daily Beast">
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="The Daily Beast"/>
    <meta property="og:title" content="The Daily Beast"/>
    <meta property="og:description" content="A smart, speedy take on the news from around the world. "/>
    <meta property="og:image" content="//sitemessages.s3.amazonaws.com/img/tdb50x50.gif"/>
    <meta property="og:url" content="http://www.thedailybeast.com/"/>
    <!-- for parse.ly analytics - https://dash.parsely.com/thedailybeast.com/setup -->
    <meta name='parsely-page' content='{"title":"","link":"http://www.thedailybeast.com","image_url":"","type":"","post_id":"","pub_date":"","section":"","author":"","tags":[]'>

    <link rel="canonical" href="http://www.thedailybeast.com"/>

    <!-- favicon -->
    <link rel="shortcut icon" href="/favicon.ico">

    <!-- stylesheets -->
    <link rel="stylesheet" type="text/css" href="//sitemessages.s3.amazonaws.com/css/reset.css"/>

    <style>
        body {
        background: url(//sitemessages.s3.amazonaws.com/img/error-wallpaper.jpg) repeat;
        }
        @font-face {
        font-family: "TitlingGothicFBMediumComp";
        src: url("//sitemessages.s3.amazonaws.com/fonts/Titling-Gothic-FB-Comp-Medium.eot");
        src: url("//sitemessages.s3.amazonaws.com/fonts/Titling-Gothic-FB-Comp-Medium.eot?#iefix") format("embedded-opentype"),
        url("//sitemessages.s3.amazonaws.com/fonts/Titling-Gothic-FB-Comp-Medium.woff") format("woff"),
        url("//sitemessages.s3.amazonaws.com/fonts/Titling-Gothic-FB-Comp-Medium.ttf") format("truetype"),
        url("//sitemessages.s3.amazonaws.com/fonts/Titling-Gothic-FB-Comp-Medium.svg#web") format("svg");
        font-style: normal;
        font-weight: bold;
        }
        h1.tdb-title {
        font-family: 'TitlingGothicFBMediumComp';
        font-size: 26px;
        font-style: normal;
        line-height: 31px;
        text-transform: uppercase;
        margin: 0;
        }
        h1.tdb-title a {
        color: #ee2e24;
        text-decoration: none;
        margin: 6px;
        }
        h2 {
        font-family: 'TitlingGothicFBMediumComp';
        font-size: 45px;
        font-style: normal;
        line-height: 60px;
        color: #ee2e24;
        text-align: center;
        }
        h2.sub {
        font-size: 24px;
        line-height: 22px;
        }
        ul li a {
        list-style: none;
        text-transform: uppercase;
        font-family: 'TitlingGothicFBMediumComp';
        font-size: 32px;
        line-height: 38px;
        color: #000;
        }
        ul li a:hover { color: #000; }
        .try {
        color: #7f7f7f;
        font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
        font-size: 18px;
        font-style: italic;
        margin-top: 30px;
        text-align: center;
        }
        .row {
        width: 96%;
        margin: 46px auto;
        }
        .block {
        text-align: center;
        }
    </style>
</head>

<body id="error-page" class="mobile"><!-- ID SHOULD BE EQUAL TO THE TEMPLATE NAME IN CQ -->
<header class="head">
    <h1 class="tdb-title "><a data-anchor="top" href="/content/dailybeast.html">the daily beast</a></h1>
</header>
<div class="content row">
    <h2>Oops. There was an error</h2>
    <h2 class="sub">Something is amiss. We're working to fix it.</h2>

    <p class="try">Try these instead:</p>
    <div class="block">
        <nav>
            <ul>
                <li class="item"><a href="/politics.html">Politics</a></li>
                <li class="item"><a href="/entertainment.html">Entertainment</a></li>
                <li class="item"><a href="/world.html">World News</a></li>
                <li class="item"><a href="/us-news.html">U.S. News</a></li>
                <li class="item"><a href="/tech-and-health.html">Tech + Health</a></li>
                <li class="item"><a href="/beaststyle.html">BeastStyle</a></li>
                <li class="item"><a href="/witw.html">Women</a></li>
                <li class="item"><a href="/books.html">Books</a></li>
            </ul>
        </nav>
    </div>
</div>

<!-- START DAX Include -->
<noscript>
    <p>
        <img src="http://b.scorecardresearch.com/p?c1=2&c2=17913818" height="1" width="1" alt="*">
    </p>
</noscript>

<script type="text/javascript">
    var daxUrl = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/b?c1=2&c2=17913818";
    var parameters = "";

    parameters = parameters + "&ns_site=" + (document.location.href.indexOf("http://www.thedailybeast.com") > -1 ? "prod" : "dev");
    parameters = parameters + "&db_template=error&name=error.5XX Error&ns_type=hidden";
    dax_(daxUrl + parameters + dax_add_on('db'));

    function dax_add_on(z) {
    a = b = c = d = e = '';
    a = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
    b = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
    c = c + '&' + z + '_viewport=' + a + 'x' + b;
    d = window.screen.availWidth;
    e = window.screen.availHeight;
    c = c + '&' + z + '_screensize=' + d + 'x' + e;
    return c
    }

    function dax_(e) {
    var t = "comScore=", n = document, r = n.cookie, i = "", s = "indexOf", o = "substring", u = "length", a = 2048, f, l = "&ns_", c = "&", h, p, d, v, m = window, g = m.encodeURIComponent || escape;
    if (r[s](t) + 1)for (d = 0, p = r.split(";"), v = p[u]; d < v; d++)h = p[d][s](t), h + 1 && (i = c + unescape(p[d][o](h + t[u])));
    e += l + "_t=" + +(new Date) + l + "c=" + (n.characterSet || n.defaultCharset || "") + "&c8=" + g(n.title) + i + "&c7=" + g(n.URL) + "&c9=" + g(n.referrer), e[u] > a && e[s](c) > 0 && (f = e[o](0, a - 8).lastIndexOf(c), e = (e[o](0, f) + l + "cut=" + g(e[o](f + 1)))[o](0, a)), n.images ? (h = new Image, m.ns_p || (ns_p = h), h.src = e) : n.write("<", "p", "><", 'img src="', e, '" height="1" width="1" alt="*"', "><", "/p", ">")
    }
</script>
<!-- END DAX Include -->

<script type="text/javascript">var nw_page_name = "nw - not found";</script>

<!-- START Google Analytics Include -->
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-17082295-1']);
    _gaq.push(['_setDomainName', '.thedailybeast.com']);
    _gaq.push(['_trackPageview']);
    ( function (d, t) {
    var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
    g.async = 1;
    g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s)
    }(document, 'script'));
</script>
<!-- END Google Analytics Include -->

<!-- START quantcast Include -->
<script>
    ( function (d, t) {
    var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
    g.async = 1;
    g.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
    s.parentNode.insertBefore(g, s)
    }(document, 'script'));

    var qacct="p-bcLY1r4ynM-2-";
    var _qevents = _qevents || [];
    _qevents.push( { qacct:qacct, labels:'search' } );
    _qoptions = {qacct: qacct, labels: 'error.5XX Error'};
</script>
<!-- END quantcast Include -->

<!-- START Nielsen Include -->
<noscript><img src="//secure-us.imrworldwide.com/cgi-bin/m?ci=us-904381h&amp;cg=0&amp;cc=1&amp;ts=noscript" width="1" height="1" alt=""/></noscript>

<script type="text/javascript">
    var providerId = "us-904381h";
    (function () {
    var d = new Image(1, 1);
    d.src = ["//secure-us.imrworldwide.com/cgi-bin/m?ci=" + providerId + "&cg=0&cc=1&si=",
    "'error.5XX Error'", "&rp=", document.location.href ,
    "&ts=usergen&rnd=", (new Date()).getTime()].join('')
    })();

</script>
<!-- END Nielsen Include -->

<!-- START Parse.ly Include -->
<div id="parsely-root" style="display: none">
    <div id="parsely-cfg" data-parsely-site="thedailybeast.com"></div>
</div>
<script>
    (function(s, p, d) {
    var h=d.location.protocol, i=p+"-"+s,
    e=d.getElementById(i), r=d.getElementById(p+"-root"),
    u=h==="https:"?"d1z2jf7jlzjs58.cloudfront.net"
    :"static."+p+".com";
    if (e) return;
    e = d.createElement(s); e.id = i; e.async = true;
    e.src = h+"//"+u+"/p.js"; r.appendChild(e);
    })("script", "parsely", document);
</script>
<!-- END Parse.ly Include -->
</body>
</html>
